<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        *{margin: 0; padding: 0; box-sizing: border-box;} body{background-color: rgb(0, 0, 0);}
        img{width: 10vw; height: auto; transition: transform 0.3s ease;} img:hover{transform: scale(1.2);}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fnaf.css">
        <script src="../js/global.js" defer></script>
        <title>Página Nommer Один</title>
    </head>

    <body>
        <audio id="background-audio" autoplay loop>
            <source src="../../audio/UCN.mp3" type="audio/mpeg">
        </audio>
    
        <main>
            <div id="background">
                <img id="background-img" src="../../img/springtrap.jpeg" alt="">
            </div>

            <div class="box">
                <img src="../../gif/bonnet.gif" alt="">
                <a href="https://youtu.be/S6waEYkwFEo?si=roBkHddQqUMc9Bwv"><img src="../../img/fnaf1.png" alt="fnaf1"></a>
                <a href="https://youtu.be/j_k674nHmxI?si=sHubnhS0IN5a6cFq"><img src="../../img/fnaf2.webp" alt="fnaf2"></a>
                <a href="https://youtu.be/k0qOYr8laFA?si=U-kkrYtx9GPag1jR"><img src="../../img/fnaf3.webp" alt="fnaf3"></a>
                <img src="../../public/img/" alt="">
            </div>
            <div class="box">
                <img src="../../public/img/" alt="">
                <a href="https://youtu.be/nxC5880frr0?si=DiBwhSdn9dOrCR8q"><img src="../../img/fnaf4.webp" alt="fnaf4"></a>
                <a href="https://youtu.be/N8ycSqa-coA?si=x1FO4GTNmBySYWhm"><img src="../../img/fnafworld.ico" alt="fnafworld"></a>
                <a href="https://youtu.be/GH9vcbrbKkE?si=GVPursN20hQVzWil"><img src="../../img/fnafsl.png" alt="fnafsl"></a>
                <img src="../..//gif/cupcake.gif" alt="">
            </div>
            <div class="box">
                <img src="../../gif/tica.gif" alt="">
                <a href="https://youtu.be/7Ngw0Ao7sHA?si=UwQTu5rSFWxjG06g"><img src="../../img/FFPS.png" alt="FFPS"></a>
                <a href="https://youtu.be/sJ6InjNvaVI?si=zSp_OQGmW12uOZme"><img src="../../img/UCN.png" alt="UCN"></a>
                <a href="https://youtu.be/zVdPgBqg9oM?si=1eb6gkRD14jW6LC2"><img src="../../img/fnafVRhw.webp" alt="fnafVRhw"></a>
                <img src="" alt="">
            </div>
            <div class="box">
                <img src="" alt="">
                <a href="https://youtu.be/yxz5Lo-5ec4?si=pp7M3HicETLLT0EL"><img src="../../img/fnafar.png" alt="fnafar"></a>
                <a href="https://youtu.be/2huC9ORN3FY?si=DtPEDKNK6wVaEBze"><img src="../../img/fnafsb.webp" alt="fnafsb"></a>
                <a href="https://youtu.be/HbtpgxXg5ps?si=WnBCc0PdDuRDlHJd"><img src="../../img/fnafSBruin.webp" alt="fnafSBruin"></a>
                <img src="../..//gif/plushtrap.gif" alt="">
            </div>
            <div class="box0">
                <a href="../html/dbd.html"><img src="../../gif/DBD.webp" alt="DBD"></a>
            </div>
            <a id="back" href="../html/index.html">Chamada de Retorno ;p</a>
            <img id="band" src="../../gif/fazband2.gif" alt="">
        </main>
    </body>
</html>