<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/menu.css">
        <script src="../js/menu.js"></script>
        <title>選單頁</title>
        <style>img{width: 10vw; height: auto; transition: transform 0.3s ease;} img:hover{transform: scale(1.2);} p{color: #fff;}</style>
    </head>

    <body>
        <video autoplay loop id="background">
            <source src="../../video/MD.mp4" type="video/mp4">
        </video>

        <main>


            <div class="box0">
                <a href="../html/fnaf.html"><img src="../../gif/thefnaf.gif" alt="FNAF"></a>
                <p>⬅ FNAF</p>  <p>DBD ⮕</p>
                <a href="../html/dbd.html"><img src="../../gif/DBD.webp" alt="DBD"></a>
            </div>
            <a id="back" href="../html/index.html">Chamada de Retorno ;p</a>
            <img id="band" src="../../gif/fazband2.gif" alt="">
        </main>
    </body>
</html>