*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div#background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
img#background-img{
    opacity: 35%;
    width: 33vw;
    height: auto;
}
div.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 60px;
}
div.box0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 1987px;
    margin-bottom: 235px;
}
a#back{
    color: #fff;
    text-decoration: none;
}
img#band{
    margin: 10px;
}